[submodule "MorScoreFrontend"]
	path = frontend
	url = https://github.com/JeromeRReduta/MorScoreFrontend
[submodule "MorScoreBackend"]
	path = backend
	url = https://github.com/JeromeRReduta/MorScoreBackend
